  ## Data Types

In [1]:
#integer type
a=10
print(a)
print(type(a))

10
<class 'int'>

In [2]:
#integer type
a=20
print(a)
print(type(a))

20
<class 'int'>

In [3]:
#float type
a=10.10
print(a)
print(type(a))

10.1
<class 'float'>

In [4]:
#complex type
a=10+0j
print(a)
print(type(a))

(10+0j)
<class 'complex'>

In [5]:
#string data
a="Hello mehedi"
print(a)
print(type(a))

Hello mehedi
<class 'str'>

## List

In [6]:
list=["mehedi","hasan","saiful","azhar","faisal","shuvo"]

print(list)
print(list[4])
print(len(list))

['mehedi', 'hasan', 'saiful', 'azhar', 'faisal', 'shuvo']
faisal
6

## Condition

In [7]:
#if statement
a = 40
b = 100
if b > a:
  print("b is greater than a")

b is greater than a

In [9]:
#Nested if
num = 12
if num > 5:
    print("Bigger than 5")
    if num <= 47:
        print("Between 5 and 47")

Bigger than 5
Between 5 and 47

In [10]:
#Else statement
a = 300
b = 100
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [11]:
#Else statement
x = 4
if x == 5:
    print("its 5")
else:
    print("its not 5")

its not 5

In [12]:
#if else statement
num = 7
if num == 5:
    print("Number is 5")
else:
    if num == 11:
        print("Number is 11")
    else:
        if num == 7:
            print("Number is 7")
        else:
            print("Number is not 5, 11 or 7")

Number is 7

In [13]:
a = 100
b=200 if (a >= 100 and a < 200) else 300
print(b)

200

## Loop

In [14]:
#While loop
i = 1
while i <= 5:
    print(i)
    i = i + 1
print("I am mehedi")

1
2
3
4
5
I am mehedi

In [15]:
#Break
i = 0
while 1 == 1:
    print(i)
    i = i + 1
    if i >= 5:
        print("Breaking")
        break
print("Finished")

0
1
2
3
4
Breaking
Finished

In [16]:
#contunue
i = 0
while True:
    i = i +1
    if i == 2:
        print("mehedi 2")
        continue
    if i == 5:
        print("breaking")
        break
    print(i) 
print("Finished")

1
mehedi 2
3
4
breaking
Finished

In [17]:
#For loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
for letter in 'Python':
    print(letter)

P
y
t
h
o
n

In [19]:
for i in range(20):
    if i == 5:
        continue
    if i > 9:
        break
    print(i)
        
print("Printed first 10 number except 5!")

0
1
2
3
4
6
7
8
9
Printed first 10 number except 5!

## Function

In [20]:
def hello():
    print("Hello word!")

In [22]:
def show_double(X):
    print(X*2)
show_double(2)
show_double(100)

4
200

In [23]:
def make_sum(x ,y):
    z = x + y
    print(z)
make_sum(5, 10)
make_sum(500, 500)

15
1000

In [26]:
def make_sum(*args):
    sum = 0
    for num in args:
        sum += num
    return sum
print(make_sum(10, 20, 30,40))

100